.cart {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "notification notification"
    "head head"
    "items delivery";

  grid-template-columns: minmax(20%, 50%);

  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  grid-area: head;
  margin-bottom: 2rem;
}

.items {
  grid-area: items;
  padding-right: 2rem;
}

.delivery {
  grid-area: delivery;
  display: flex;
  flex-direction: column;
}

.summary {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}